@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 0.4rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1efeb;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a4845;
    border-radius: 2rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #252422;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #FFFCF2;
}

a {
    color: #1d4ed8;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
